#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_TheChiefCoind += debian/examples/*
DEB_INSTALL_MANPAGES_TheChiefCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix TheChiefCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f TheChiefCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake TheChiefCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/TheChiefCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/TheChiefCoind
binary-post-install/TheChiefCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/TheChiefCoin-qt
